<!-- Languages dropdown    -->
<li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><img src="~/images/flags/16/GB.png" alt="English"><span class="d-none d-sm-inline-block">English</span></a>
    <ul aria-labelledby="languages" class="dropdown-menu">
        <li>
            <a rel="nofollow" href="#" class="dropdown-item">
                <img src="~/images/flags/16/DE.png" alt="English" class="mr-2" />
                <span>German</span>
            </a>
        </li>
        <li>
            <a rel="nofollow" href="#" class="dropdown-item">
                <img src="~/images/flags/16/FR.png" alt="English" class="mr-2" />
                <span>French</span>
            </a>
        </li>
    </ul>
</li>