 <!-- Messages dropdown-->
<li class="nav-item dropdown">
    <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-info">1</span>
    </a>
    <ul aria-labelledby="notifications" class="dropdown-menu">
        <li>
            <a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                <div class="msg-profile">
                    <img src="~/images/avatar-1.jpg" alt="..." class="img-fluid rounded-circle">
                </div>
                <div class="msg-body">
                    <h3 class="h5">Jason Doe</h3>
                    <span>sent you a direct message</span>
                    <small>3 days ago at 7:58 pm - 10.06.2014</small>
                </div>
            </a>
        </li>
        <li>
            <a rel="nofollow" href="#" class="dropdown-item all-notifications text-center">
                <strong>
                    <i class="fa fa-envelope"></i>Read all messages
                </strong>
            </a>
        </li>
    </ul>
</li>